<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
<title>Registro de Pacientes</title>
</head>
<body>
<div class="container">
             <!-- Button para abrir el Modal para Nuevo registro-->
        <button  type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#nuevo">Nuevo</button>
          
          <!-- Tabla donde estaran los datos -->
          <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                    </tr>
                </thead>
                <tbody id="tdatos">
                  
                </tbody>
            </table>
    </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="/js/paciente.js"></script>
</body>
</html>